# Puerto del backend
PORT=3000

# Conexión a PostgreSQL / Supabase
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
DATABASE_SSL=false/true
# Conexión a MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=chorotega_emarket